<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"> Constacts</li>
      <li class="breadcrumb-item"><a href="#">Contact details</a></li>
    </ol>
  </nav>
</div>